In [15]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import os
import pymongo
from pprint import pprint
import time

In [16]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [22]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

browser.visit(url)

# it takes a second for javascript to run and generate html of page
time.sleep(1)

html = browser.html

In [23]:
# Create BeautifulSoup object
soup = BeautifulSoup(html, 'html.parser')
# print(soup.prettify())

In [24]:
news_title = soup.find("div", class_="list_text").a.text
print(news_title)

NASA Invites Students to Name Mars 2020 Rover

In [25]:
news_p = soup.find("div", class_="article_teaser_body").text
print(news_p)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [44]:
# URL of page to be scraped
base_url = 'https://www.jpl.nasa.gov/spaceimages'
soup_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(soup_url)

time.sleep(1)

html = browser.html

In [45]:
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [49]:
img_anchor = soup.find("a", class_="button fancybox")
featured_img_url = base_url + img_anchor.get("data-fancybox-href")
print(featured_img_url)

https://www.jpl.nasa.gov/spaceimages/spaceimages/images/mediumsize/PIA16883_ip.jpg

In [50]:
# URL of page to be scraped
base_url = 'https://twitter.com/marswxreport'
soup_url = 'https://twitter.com/marswxreport?lang=en'

browser.visit(soup_url)

time.sleep(1)

html = browser.html

In [51]:
soup = BeautifulSoup(html, 'html.parser')

In [52]:
tweet_p = soup.find("p", class_="tweet-text")
mars_weather = tweet_p.text
print(mars_weather)

Are you there @NASAInSight? It’s me     @CanberraDSNpic.twitter.com/o5UjO2hRwn

In [55]:
facts_url = "https://space-facts.com/mars/"

tables = pd.read_html(facts_url)
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
facts_html = tables[1].to_html().replace('\n', '')
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [59]:
# The site for Mars hemisphere images referenced in homework returns error 404.
# I found a page at "The Planetary Society" that includes Mars hemisphere images
# I am using that.  Hopefully it does not go 404 soon!

# URL of page to be scraped
url = 'http://www.planetary.org/blogs/guest-blogs/bill-dunford/20140203-the-faces-of-mars.html'

browser.visit(url)

# it takes a second for javascript to run and generate html of page
time.sleep(1)

html = browser.html

In [60]:
soup = BeautifulSoup(html, 'html.parser')

In [63]:
images_list = soup.find_all("img", class_="img840")

hemisphere_image_urls = []

for img in images_list:
    img_title = img.get("alt")
    img_url = img.get("src")
    img_dict = {"title": img_title, "img_url": img_url}
    hemisphere_image_urls.append(img_dict)
    
hemisphere_image_urls

[{'title': 'Mars: Valles Marineris Hemisphere',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg'},
 {'title': 'Mars: Syrtis Major Hemisphere',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg'},
 {'title': 'Mars: Cerberus Hemisphere ',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg'},
 {'title': 'Mars: Schiaparelli Hemisphere ',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg'}]

In [64]:
mars_dict = {
    "news_title": news_title,
    "news_p": news_p,
    "featured_img_url": featured_img_url,
    "mars_weather": mars_weather,
    "facts_html": facts_html,
    "hemisphere_image_urls": hemisphere_image_urls
}

mars_dict

{'news_title': 'NASA Invites Students to Name Mars 2020 Rover',
 'news_p': "Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.",
 'featured_img_url': 'https://www.jpl.nasa.gov/spaceimages/spaceimages/images/mediumsize/PIA16883_ip.jpg',
 'mars_weather': 'Are you there @NASAInSight? It’s me     @CanberraDSNpic.twitter.com/o5UjO2hRwn',
 'facts_html': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'hemisphere_image_urls': [{'title': 'Mars: Valles Marineris Hemisphere',
   'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg'},
  {'title': 'Mars: Syrtis Major Hemisphere',
   'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg'},
  {'title': 'Mars: Cerberus Hemisphere ',
   'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg'},
  {'title': 'Mars: Schiaparelli Hemisphere ',
   'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg'}]}

In [38]:
browser.quit()